body{
    margin:0px;
    padding:0px;
}

header{
    margin:0px;
    background:#67595E;
    width:100%;
    height:100px;
    display:flex;
    line-height:0px;
}

header img{
    width:80px;
    margin:0px;
    margin-left:50px;
    margin-top:10px;
}


#header-top-heading{
    font-size:20px;
    margin:40px 0px 0px 25px;
}

#header-bottom-heading{
    display:block;
    font-size:30px;
    margin:25px 0px 0px 20px;
    font-weight:bold;
}

#main-section{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#show-cat{
    display:none;
    width:500px;
    height:autopx;
    bordeR:2px solid red;
    margin:20px auto;
    text-align:center;
    background-color:#bc8a5f;
    padding:10px;
}

#message{
    display:none;
}

#meme-heading{
    margin:5px 200px 20px 200px;
    padding:10px;
    background:red;
    border:2px solid pink;
    border-radius:5px;
}



.meme-img{
    width:200px;
    height:200px;
    margin:0px;
    padding:10px;
}

#close-btn{
    display:block;
    color:red;
    margin:0px 0px 0px auto;
    font-size:20px;
    padding:5px 10px;
    background:black;
    border:none;
}

#get-image{
    display:block;
    margin:10px auto;
    text-align:center;
    background:pink;
    border:1px solid red;
    padding:10px 20px;
}

#checkboxes{
    display:flex;
    gap:20px;
    width:400px;
    margin:auto;
}

#gifs-header{
    margin:0px;
}

#gifs-section{
    margin:10px auto;
}

#multiple-memes-section{
     margin:10px auto;
}

#emotions{
    display:block;
    margin:20px auto 10px auto;
    font-size:20px;
}

#select-emotion{
    margin-left:10px;
}